/index.php
/components/*
!/components/ms
!/components/components
/components/ms/*
!/components/ms/core*
/cache/*
!/cache/cache
/modules/*
!/modules/modules
/plugins/*
!/plugins/plugins
/templates/*
!/templates/.default/
/logs/*
*.log
/assembly.php
/admin